@font-face
{
    font-family: Monda;
    src: url('/fonts/monda/mondabold.ttf') format('truetype'),
    url('/fonts/monda/mondabold.woff') format('woff'),
    url('/fonts/monda/mondabold.woff2') format('woff2');
}
@font-face
{
    font-family: Prime;
    src: url('/fonts/prime/primeregular.ttf') format('truetype'),
    url('/fonts/prime/primeregular.woff') format('woff'),
    url('/fonts/prime/primeregular.woff2') format('woff2');
}
@font-face
{
    font-family: MSGothic;
    src: url('/fonts/msGothic/MS Gothic.ttf') format('truetype');
}
@font-face
{
    font-family: LithosPro;
    src: url('/fonts/lithosPro/lithos_pro_black.ttf') format('truetype');
}
@font-face
{
    font-family: EuroFont;
    src: url('/fonts/euroFont/EurofontExtendedC.otf') format('opentype');
}
@font-face
{
    font-family: Play;
    src: url('/fonts/play/Play-Regular.ttf') format('truetype');
}
@font-face
{
    font-family: KellySlab;
    src: url('/fonts/KellySlab/KellySlab.otf') format('opentype');
}
@font-face
{
    font-family: yukarimobile;
    src: url('/fonts/yukarimobile/yukarimobile.ttf') format('truetype');
}
html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.transitionStyle
{
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
}
.boxSizingStyle
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.index_container
{
    width: 100%;
    height: 100%;
    /*background-color: tan;*/
}
.index_navigation
{
    height: 36px;
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    background-color: #b60015;
    border-bottom: 2px solid #ffffff;
}
.index_navigation_left
{
    /*background-color: yellow;*/
}
.navButtons
{
    width: 34px;
    height: 34px;
    position: relative;
    cursor: pointer;
}
.showNav
{
    width: 100%;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding: 5px 6px;
    /*background-color: yellow;*/
}
.closeNav
{
    width: 100%;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    padding: 0 6px;
    /*background-color: yellow;*/
}
.showNavLine
{
    width: 23px;
    height: 3px;
    background-color: #ffffff;
    margin: 4px 0;
}
.closeNavLine
{
    width: 23px;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    top: 16px;
}
.closeNavLine1
{
    transform-origin: 50%;
}
.closeNavLine2
{
    transform-origin: 50%;
}
.closeNavLine1Transform
{
    transform: rotate(225deg);
}
.closeNavLine1TransformReverse
{
    transform: rotate(0deg);
}
.closeNavLine2Transform
{
    transform: rotate(495deg);
}
.closeNavLine2TransformReverse
{
    transform: rotate(0deg);
}
.index_navigation_center
{
    /*background-color: red;*/
}
.index_navigation_center > a
{
    font-family: yukarimobile;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    color: #ffffff;
}
.index_navigation_right
{
    /*background-color: blue;*/
    padding: 6px 7px;
}
.index_navigation_right > ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}
.index_navigation_right > ul > li
{
    display: inline-block;
    margin-right: 7px;
    margin-left: 7px;
}
.index_navigation_right > ul > li > a
{
    color: #ffffff;
    text-decoration: none;
    font-family: Play;
    font-style: oblique;
    font-size: 18px;
}
.index_navigation_right > ul > li > a:hover
{
    color: yellow;
}
.index_hidden_navigation
{
    width: 100%;
    height: calc(100% - 38px);
    position: absolute;
    top: 38px;
    left: 0;
    padding: 10px;
    background-color: #b60015;
    display: none;
    font-family: Play;
    text-align: center;
}
.products_container
{
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.product_box
{
    background-color: white;
    width: calc(20% - 20px);
    height: calc(33.33333% - 20px);
    margin: 10px;
    position: relative;
}
.product_box::before
{
    content: "";
    border: 20px solid transparent;
    border-left: 20px solid #b60015;
    border-top: 20px solid #b60015;
    position: absolute;
    top: 0;
    left: 0;
}
.product_box::after
{
    content: "";
    border: 20px solid transparent;
    border-right: 20px solid #b60015;
    border-bottom: 20px solid #b60015;
    position: absolute;
    bottom: 0;
    right: 0;
}
.product_table
{
    width: 100%;
    height: 100%;
}
.product_table td.product_title
{
    font-size: 24px;
    color: #b60015;
    vertical-align: bottom;
}
.product_table td.product_detailed,
.product_table td.product_link
{
    width: 50%;
    padding: 15px;
}
.product_detailed_button
{
    display: block;
    padding-top: 11px;
    padding-bottom: 12px;
    border: 2px solid #b60015;
    text-decoration: none;
    color: #b60015;
    font-size: 18px;
}
.product_detailed_button:hover
{
    background-color: #b60015;
    color: #ffffff;
}
.product_link_button
{
    display: block;
    padding: 10px;
    border: 2px solid #b60015;
    text-decoration: none;
    color: #ffffff;
    background-color: #b60015;
    font-size: 18px;
}
.index_content
{
    height: calc(100% - 38px);
    background-color: #ffffff;
    font-size: 324px;
    text-align: center;
}