<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unnamed Market | Головна сторінка</title>
    <link type="text/css" rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="" type="image/png">
</head>
<body>
<div class="index_container boxSizingStyle">
    <div class="index_navigation">
        <div class="index_navigation_left boxSizingStyle">
            <div class="navButtons boxSizingStyle">
                <div class="showNav boxSizingStyle">
                    <div class="navLine showNavLine showNavLine1"></div>
                    <div class="navLine showNavLine showNavLine2"></div>
                    <div class="navLine showNavLine showNavLine3"></div>
                </div>
                <div class="closeNav boxSizingStyle">
                    <div class="navLine closeNavLine closeNavLine1 transitionStyle"></div>
                    <div class="navLine closeNavLine closeNavLine2 transitionStyle"></div>
                </div>
            </div>
        </div>
        <div class="index_navigation_center boxSizingStyle">
            <a href="#">Unnamed Market</a>
        </div>
        <div class="index_navigation_right boxSizingStyle">
            <ul>
                <li><a href="#" class="transitionStyle">Кнопка</a></li>
                <li><a href="#" class="transitionStyle">Посилання</a></li>
                <li><a href="#" class="transitionStyle">Ще щось</a></li>
            </ul>
        </div>
    </div>
    <div class="index_hidden_navigation boxSizingStyle">
        Тут буде перелік товарів за категоріями.
    </div>
    <div class="index_content boxSizingStyle">
        &#128722; &#128717;
    </div>
</div>
<script src="/js/jquery-1.11.3.js"></script>
<script src="/js/index.js"></script>
</body>
</html>